@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelDs';
  src: url("../../public/fonts/Nintendo-DS-BIOS.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes showafterdelay {
  from {opacity: 0;}
  to {opacity: 1;}
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

body {
  font-size: 18px !important;
}

.oak-auth {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
}
.select-box {
  min-height: 8rem;
  height: max-content;
  width: 12rem;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 8px;
  animation: showafterdelay 0s;
  animation-delay: 0s;
  background-color: white;
}

.main-container {
  height: 100vh;
  overflow: hidden;
}

.select-box ul {
  padding: 0px;
}

.select-box .select-box-item:hover::before {
  position: absolute;
  content: ">";
  left: 5%;
}

.select-box-item {
  position: relative;
  line-height: normal;
  cursor: pointer;
  margin-top: 1rem;
}

.select-box-primary {
  background-image: url("/sprites/textbox/select-box-primary.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.font-ds {
  font-family: "PixelDs", sans-serif;
}

.text-box {
  height: 8rem;
}

.text-box-primary {
  background-image: url("/sprites/textbox/textbox-primary.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem 2.5rem 1rem 2.5rem;
  overflow: hidden;
}

.text-box-content {
  height: 8rem;
}

.type-grass {
  background-color: #9bcc50;
  color: #212121;
}

.type-poison {
  background-color: #b97fc9;
  color: #fff;
}
.type-fire {
  background-color: #fd7d24;
  color: #fff;
}
.type-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}
.type-water {
  background-color: #4592c4;
  color: #fff;
}
.type-bug {
  background-color: #729f3f;
  color: #fff;
}

.bg-card {
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  /* border-color: #F2F2F2; */
}

.w-card {
  max-width: 175px;
  height: 225px;
}